body{
background-color:lightpink;
  text-align:center;
}

h1{
color:blue;
font-size:42px;
}

h2{
color:black;
front-size:50px;
}

h3{
color:black;
front-size:80px;
  text-align:left;
}

h4{
color:black;
front-size:80px;
  text-align:right;
}

p{
color:red;
}

img{
width:300px;
height:200px; 

contenedor{
  position: fixed;   /* Se queda fijo en la pantalla */
  top:20px;         /* Separación desde arriba */
  right:20px;       /* Separación desde la derecha */
  
  display: flex;     /* Activa Flexbox para ordenar los links */
  gap:15px;         /* Espacio de separación entre cada link */
  
  background-color:black; /* Fondo para que resalten */
  padding:10px 20px;     /* Margen interno */
  border-radius:8px;     /* Bordes redondeados */
  z-index:1000;          /* Asegura que queden encima de todo */
}

.contenedor-fijo a {
  color:white;           /* Color del texto */
  text-decoration:none;  /* Quita la línea de abajo */
}
