body{
background-color:lightblue;
  text-align:center;
}

h1{
color:black;
font-size:32px;
}

h2{
color:black;
font-size:42px;
}

h3{
color:black;
font-size:42px;
  text-align:left;
}

h4{
color:black;
front-size:80px;
  text-align:left;
}

p{
color:red;
}

img{
width:200px;
height:500px; 
}

img2{
width:600px;
height:400px;
}
.menu {
    background-color: #003366;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #00aaff;
}

table{
  text-align:center;
}

.img-derecha{
    display: flex; /* Activa el diseño flexible */
    justify-content: flex-end; /* Alinea todo el contenido hacia la derecha */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px; /* Espacio opcional para que no pegue al borde de la pantalla */
}

.img-derecha img_dere {
    max-width: 800px; /* Controla el tamaño de tu imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}
